* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

form {
    padding: 5px;
}

div {
    background-color: #205675;
    color: white;
    padding: 1px;
}